---
layout: page
title: Codex
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1  class="animated fadeInUp">CODEX</h1>
          <p   class="animated fadeInUp">We Code. We Explore.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Wrapper Start -->
<!-- About US and What we do -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p>Codex is the official coding community of Institute of Technical Education and Research.</p>
          </div>
          <p>We bring in budding coders as well as the experienced ones and give them a platform to meet, share their knowledge and work on building awesome projects.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/codex-wrapper.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN GREAT IDEAS</h2>
      <p>We believe that everyone can come up with great ideas and work on them to create awesome projects.</p>
      <p>Every company looks for projects in your CV and we are going to do a lot of them.</p>
      <p>You'll get guidance from expert faculties and alumni and you get to work with trending languages and topics such as Python, Javascript and IOT, Machine Learning etc</p>
      <p>You'll get to present your projects to an audience and enhance your problem solving skills</p>
      <a href="#" class="btn btn-view-works">View Works</a>
    </div>
  </div>
</div>
</section>



<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>Fun Facts About Us</h2>
        <p>We conduct events and workshops, hold lectures and talks, conduct competitions and hackathons.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Want to join us?</h2>
          <p>The steps you need to take to get into codex have been mentioned in the following link.</p>
          <a class="btn btn-default btn-call-to-action" href="https://tiny.cc/joincodex" >Come join us!</a>
        </div>
      </div>
    </div>
  </div>
</section>
