---
layout: page
title: Team
permalink: /team/
---

    <!-- Slider Start -->
<section id="global-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h1>OUR TEAM</h1>
                    <b><p><big>We are working with great people with a strong motivation to teach and learn. Here you can read more about the Codex team and our collaborators.</big></p></b>
                </div>
            </div>
        </div>
    </div>
</section>  

<!-- Portfolios Start -->
<section id="portfolio-work">
{% if site.data.team.size > 0 %}
<div class="container">

    <h1>Faculty</h1>
    <p>You can get guidance from our expert faculties</p>


      {% for p in site.data.team %}
        {% if p.category == "Faculty" %}

        

        <div class="row-eq-height">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                  <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p><br>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="profile" style="border: 0px;">
                <a href="{{ p.social-links.website }}"> <img src="{{ p.img }}" alt="Img"> </a>
              </div>
            </div><!-- .col-md-5 close -->
                        
            <br>
            <!-- Stack Tags -->
            <ul class="stack">
              {% for tag in p.stack %}
              <li><a href="https://duckduckgo.com/?q={{tag}}" class="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            <!-- Stack Tags End-->
            <br>
            <div id="social-links">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline social-links">
                        <li>
                          <a href="{{ p.social-links.website }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Website">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
          </div><!-- Faculty Close -->
          <br><br><br>

        {% endif %}
      {% endfor %}

</div>

<div class="container">   
    
    <h1>Founders</h1>
    <p>They took the first step, now here we are.</p>

    {% for p in site.data.team %}
      {% if p.category == "Founders" %}

        <div class="row-eq-height">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                  <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="profile" style="border: 0px;">
                <a href="{{ p.social-links.github }}"> <img src="{{ p.img }}" alt="Img"> </a>
              </div>
            </div><!-- .col-md-5 close -->            
            <br>
            <!-- Stack Tags -->
            <ul class="stack">
              {% for tag in p.stack %}
              <li><a href="https://duckduckgo.com/?q={{tag}}" class="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            <!-- Stack Tags End-->
            <br>
            <!-- Social Links -->
            <div id="social-links">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline social-links">
                        <li>
                          <a href="{{ p.social-links.github }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github">
                            <i class="icon ion-social-github" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                            <a href="{{ p.social-links.linkedin }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Linkedin">
                              <i class="icon ion-social-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Social Links End-->
          
          </div><!-- Founders End --><br>

      {% endif %}
    {% endfor %}

</div>

<div class="container">   
    
    <h1>Alumni</h1>
    <p>Here are some members that have already stepped into the corporate world.</p>

    {% for p in site.data.team %}
      {% if p.category == "Alumni" %}

        <div class="row-eq-height">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                  <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="profile" style="border: 0px;">
                <a href="{{ p.social-links.github }}"> <img src="{{ p.img }}" alt="Img"> </a>
              </div>
            </div><!-- .col-md-5 close -->
                        
            <br>
            <!-- Stack Tags -->
            <ul class="stack">
              {% for tag in p.stack %}
              <li><a href="https://duckduckgo.com/?q={{tag}}" class="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            <!-- Stack Tags End-->
            <br>
            <!-- Social Links -->
            <div id="social-links">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline social-links">
                        <li>
                          <a href="{{ p.social-links.github }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github">
                            <i class="icon ion-social-github" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                            <a href="{{ p.social-links.linkedin }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Linkedin">
                              <i class="icon ion-social-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Social Links End-->
          
          </div><!-- ALumni End --><br>

      {% endif %}
    {% endfor %}
</div>

<div class="container">   
    
    <h1>Senior Coordinators</h1>
    <p>The MVPs of Codex.</p>

    {% for p in site.data.team %}
      {% if p.category == "Senior Coordinator" %}

        <div class="row-eq-height">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                  <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="profile" style="border: 0px;">
              <a href="{{ p.social-links.github }}"> <img src="{{ p.img }}" alt="Img"> </a>
              </div>
            </div><!-- .col-md-5 close -->
                        
            <br>
            <!-- Stack Tags -->
            <ul class="stack">
              {% for tag in p.stack %}
              <li><a href="https://duckduckgo.com/?q={{tag}}" class="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            <!-- Stack Tags End-->
            <br>
            <!-- Social Links -->
            <div id="social-links">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline social-links">
                        <li>
                          <a href="{{ p.social-links.github }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github">
                            <i class="icon ion-social-github" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                            <a href="{{ p.social-links.linkedin }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Linkedin">
                              <i class="icon ion-social-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Social Links End-->
          
        </div><!-- Senior Coordinator End --><br><br>

      {% endif %}
    {% endfor %}

</div>

<div class="container">   
    
    <h1>Coordinators</h1>
    <p>We manage the crowd.</p>

    {% for p in site.data.team %}
      {% if p.category == "Coordinator" %}

        <div class="row-eq-height">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                  <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="profile" style="border: 0px;">
                <a href="{{ p.social-links.github }}"> <img src="{{ p.img }}" alt="Img"> </a>
              </div>
            </div><!-- .col-md-5 close -->
            
            <br>
            <!-- Stack Tags -->
            <ul class="stack">
              {% for tag in p.stack %}
              <li><a href="https://duckduckgo.com/?q={{tag}}" class="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            <!-- Stack Tags End-->
            <br>
            <!-- Social Links -->
            <div id="social-links">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline social-links">
                        <li>
                          <a href="{{ p.social-links.github }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github">
                            <i class="icon ion-social-github" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                            <a href="{{ p.social-links.linkedin }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Linkedin">
                              <i class="icon ion-social-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Social Links End-->
          </div><!-- Coordinators Close --><br>

      {% endif %}
    {% endfor %}

</div>

<div class="container">   
    
    <h1>Members</h1>
    <p>We bring in new members and learn stuff.</p>

    {% for p in site.data.team %}
      {% if p.category == "Member" %}

        <div class="row-eq-height">
            <div class="col-md-7 col-sm-12">
              <div class="block">
                  <h2>{{ p.name }}</h2>
                <p>{{ p.desc }}</p>
              </div>
            </div><!-- .col-md-7 close -->
            <div class="col-md-5 col-sm-12">
              <div class="profile" style="border: 0px;">
                <a href="{{ p.social-links.github }}"> <img src="{{ p.img }}" alt="Img"> </a>
              </div>
            </div><!-- .col-md-5 close -->

            <br>
            <ul class="stack">
              {% for tag in p.stack %}
              <li><a href="https://duckduckgo.com/?q={{tag}}" class="tag">{{ tag }}</a></li>
              {% endfor %}
            </ul>
            <br>
            <!-- Social Links -->
            <div id="social-links">
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-inline social-links">
                        <li>
                          <a href="{{ p.social-links.github }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github">
                            <i class="icon ion-social-github" aria-hidden="true"></i>
                          </a>
                        </li>
                        <li>
                            <a href="{{ p.social-links.linkedin }}" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Linkedin">
                              <i class="icon ion-social-linkedin" aria-hidden="true"></i>
                            </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <!-- Social Links End-->
          </div><!-- Member Close --><br>

      {% endif %}
    {% endfor %}

</div>

</div>
{% endif %}
</section>

    
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>We are always looking for new members.</h2>
          <b><p><big>We are very keen to discuss ways to innovate teaching in quantitative analysis and are also happy to share our experience in creating and leading projects in Codex. <br> Join us for some nerd fun!</big></p></b>
          <a class="btn btn-default btn-call-to-action" href="https://tiny.cc/joincodex" >Join Us!</a>
        </div>
      </div>
    </div>
  </div>
</section>
