/* FILE: main/shame/__ie.scss */

//
// Internet Explorer browser fixes
//
// Unfortunately, IE browser still behaves...
//
// @link  http://stackoverflow.com/questions/18907131/detecting-ie11-using-css-capability-feature-detection
//





// Internet Explorer upgrade message

	.message-oldie {
		display: block;
		padding: 1em;
		margin: 1em;
		text-align: center;
		background: map_get( $colors, 'error_background' );
		color: map_get( $colors, 'error_text' );

		a {
			text-decoration: underline;
			font-weight: bold;
			color: inherit;
		}

	}



//
// IE 11 specific styles
//

	@media
		only screen
		and (-ms-high-contrast: none), (-ms-high-contrast: active)
	{

		//
		// In IE11 when an element is a child of `flex-direction: column;` parent,
		// the browser can't calculate the height of the element properly.
		// Applying this strange fix to take care of correct height calculation.
		//

			.site-header > div,
			.posts .entry > div,
			.posts .entry-content > * {
				min-height: 1px;
			}



		//
		// IE calculates `ch` units a bit differently, a bit too narrow.
		//

			.post-password-form,
			.comments-area-inner,
			.attachment .entry-media {
				max-width: 94ch;
			}

			.entry-content-container,
			.content-layout-no-paddings div#jp-relatedposts,
			.content-layout-no-paddings div.sharedaddy,
			.content-layout-no-paddings .entry-author {
				max-width: calc( 94ch + #{ $golden * 2em } );
			}



		// Others

			.footer-widgets .widget {
				min-width: 10em;
			}

	}



//
// IE 11 specific styles with additional media queries
//

	@media
		only screen
		and (min-width: #{ map_get( $breakpoint, 'l' ) / 16 +em })
		and (-ms-high-contrast: none), (-ms-high-contrast: active)
	{

		.main-navigation-container .megamenu > ul > li {
			min-width: 14em;
		}

	}
