/* FILE: main/sidebar/__footer.scss */

//
// Footer widgets area
//





.footer-widgets {
	@extend %horizontal_widget_area;
	@extend %padding_top;
	@extend %padding_bottom;

	&-inner {

		@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
			// Preventing mobile horizontal scrolling
			// (Required for horizontal_widget_area.)
			overflow: hidden;
		}

	}

	.widget {
		width: calc( 100% - #{ 2 * $golden +rem } );

		@include media( map_get( $breakpoint, 'l' ) ) {
			width: calc( 50% - #{ 2 * $golden +rem } );

			&:nth-child(1):nth-last-child(1) {
				width: calc( 100% - #{ 2 * $golden +rem } );
			}

		}

		@include media( map_get( $breakpoint, 'xl' ) ) {
			width: calc( 33.33% - #{ 2 * $golden +rem } );

			&:nth-child(1):nth-last-child(2),
			&:nth-child(2):nth-last-child(1) {
				width: calc( 50% - #{ 2 * $golden +rem } );
			}

			&:nth-child(1):nth-last-child(1) {
				width: calc( 100% - #{ 2 * $golden +rem } );
			}

		}

	}

}
