/* FILE: main/sidebar/__widget-custom-menu.scss */

//
// Custom Menu & Subnav widget
//





.wm-subnav,
.widget_nav_menu {

	.sidebar & {

		ul {
			border-width: 1px;
			border-style: solid;

			ul {
				border-width: 0;
				border-top-width: 1px;
				border-top-style: solid;
			}

			li {
				padding: 0;

				ul {
					bottom: auto;
				}

				li {
					padding: 0;
				}

			}

		}

		li {

			a {
				@extend %font_size_small_rem;
				display: block;
				padding: 1em;
				margin: -1px;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 400;
				color: inherit;
				transition: background ( $small_animation_speed +s ),
				            color ( $small_animation_speed +s ),
				            box-shadow ( $small_animation_speed +s );

				@include haf() {
					@extend %font_weight_700;
				}

			}

			li {

				a::before {
					content: '\2013\2002';
				}

				li {

					a::before {
						content: '\2013\2013\2002';
					}

					li {

						a::before {
							content: '\2013\2013\2013\2002';
						}

					}

				}

			}

		}

	}

}



.widget {

	.current_page_item > a,
	.current-menu-item > a {

		.sidebar & {
			@extend %font_weight_700;
		}

	}

}
