/* FILE: main/content/__wp.scss */

//
// WordPress default styles
//





// Alignments

	// Pullquotes

		blockquote {

			&.alignleft,
			&.alignright {
				padding: 0;
				margin-top: $golden_major +em;

				@include media( map_get( $breakpoint, 's' ) ) {
					width: 35%;
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					font-size: $golden_minor / 2 + 1em;
				}

			}

			&.alignleft {

				&::before {
					float: $right; // {{RTL}}
					margin-#{$right}: 0; // {{RTL}}
					margin-#{$left}: .09em; // {{RTL}}
				}

				@include media( map_get( $breakpoint, 'xl' ) ) {
					margin-left: percentage( -$golden_minor / 4 );
				}

				@include media( map_get( $breakpoint, 'xxl' ) ) {

					.no-widgets-sidebar & {
						margin-left: percentage( -$golden_minor / 2 );
					}

				}

			}

			&.alignright {

				@include media( map_get( $breakpoint, 'xl' ) ) {
					margin-right: percentage( -$golden_minor / 4 );
				}

				@include media( map_get( $breakpoint, 'xxl' ) ) {

					.no-widgets-sidebar & {
						margin-right: percentage( -$golden_minor / 2 );
					}

				}

			}

		}



// Gallery

	.gallery {

		img {
			width: 100%;
		}

		&-item {
			flex: 0 1 auto;

			.gallery-columns-1 & {
				margin-top: 2em;
			}

		}

		&-caption {
			@extend %font_style_italic;
			padding: 1em;
			margin-top: -1px; // To prevent a gap in certain cases.
		}

	}



// Media player

	.wp-playlist {
		@extend %background_overlay_from_text_color;

		.site & {
			// Wrapping within `.site` class to override WordPress default styles.
			padding: 0;
			background: none;
			border-width: 1px;
			border-style: solid;

			&-current-item,
			&-tracks {
				height: auto;
				padding: $golden +rem;
				margin: 0;
			}

			&-current-item {
				@extend %font_weight_700;
				padding-bottom: $golden_major +rem;
			}

		}

		.entry-media & {
			margin: 0;
			// Keep the text in playlist left/right even if container text is centered.
			text-align: $left; // {{RTL}}
		}

		.posts & {
			border-top-width: 0;
			border-left-width: 0;
			border-right-width: 0;
		}

	}




// Sticky

	.sticky {

		.posts & {

			&::before {
				@extend %genericon;
				@extend %font_size_golden;
				@extend %box_shadow;
				content: '\f408';
				position: absolute;
				width: 2em;
				height: 2em;
				#{$right}: -$golden_minor +em; // {{RTL}}
				top: -$golden_minor +em;
				line-height: 2em;
				text-align: center;
			}

		}

	}
