/* FILE: custom-styles-editor.scss */
/* inStyle (v1.6.3) github.com/salsita/inStyle 2016 | MIT @mixin ============================= */
/* FILE: main/custom-styles/_editor-style.scss */
/* FILE: main/custom-styles/__extenders.scss */
.button, button, input[type="button"], input[type="reset"], input[type="submit"], .main-navigation-container .button > a, mark, #page mark, .highlight, #page .highlight, .pagination .current, .bypostauthor > .comment-body .comment-author::before, .widget_calendar tbody a, .widget .tagcloud a:hover, .widget .tagcloud a:focus, .widget .tagcloud a:active { /*[*/ background-color: #00855b; color: #ffffff; /*]*/ /*// background-color: [[color_accent]]; color: [[color_accent_text]]; //*/ }

a, .accent-color { /*[*/ color: #00855b; /*]*/ /*// color: [[color_accent]]; //*/ }

.button:focus, button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, .main-navigation-container .button > a:focus { /*[*/ outline: thin dashed #00855b; /*]*/ /*// outline: thin dashed [[color_accent]]; //*/ }

.mce-content-body { /*[*/ background-color: #ffffff; color: #6a6c6e; border-color: rgba(106, 108, 110, 0.2); /*]*/ /*// background-color: [[color_content_background]]; color: [[color_content_text]]; border-color: [[color_content_text(20)]]; //*/ }

.mce-content-body h1, .mce-content-body .h1, .mce-content-body h2, .mce-content-body .h2, .mce-content-body h3, .mce-content-body .h3, .mce-content-body h4, .mce-content-body .h4, .mce-content-body h5, .mce-content-body .h5, .mce-content-body h6, .mce-content-body .h6, .mce-content-body .post-navigation, .mce-content-body .dropcap-text::first-letter { /*[*/ color: #1a1c1e; /*]*/ /*// color: [[color_content_headings]]; //*/ }

/* FILE: main/custom-styles/__base.scss */
body { background-color: #1a1c1e; }

.site { /*[*/ color: #ffffff; /*]*/ /*// color: [[color_intro_text]]; //*/ }

*, *::after, *::before { border-color: inherit; }

::-webkit-input-placeholder, :disabled::-webkit-input-placeholder { color: inherit !important; }

:-ms-input-placeholder, :disabled:-ms-input-placeholder { color: inherit !important; }

::-ms-input-placeholder, :disabled::-ms-input-placeholder { color: inherit !important; }

::placeholder, :disabled::placeholder { color: inherit !important; }

button, input, select, textarea { background-color: transparent; }

.gallery-caption { background-color: rgba(0, 0, 0, 0.8); color: #fdfcfc; }

.color-error { background-color: rgba(238, 0, 0, 0.85); color: #fff; }

.color-error a:not(.button) { color: inherit; }

.color-info { background-color: rgba(0, 85, 238, 0.85); color: #fff; }

.color-info a:not(.button) { color: inherit; }

.color-success { background-color: rgba(0, 119, 34, 0.85); color: #fff; }

.color-success a:not(.button) { color: inherit; }

.color-warning { background-color: rgba(255, 221, 0, 0.85); color: #310; }

.color-warning a:not(.button) { color: inherit; }

/* FILE: main/custom-styles/__accent.scss */
mark, .highlight { /*[*/ -webkit-box-shadow: 0.38em 0 0 #00855b, -0.38em 0 0 #00855b; box-shadow: 0.38em 0 0 #00855b, -0.38em 0 0 #00855b; /*]*/ /*// box-shadow:  .38em 0 0 [[color_accent]], -.38em 0 0 [[color_accent]]; //*/ }

@media only screen and (max-width: 41.9375em) { .pagination a { /*[*/ background-color: #00855b; color: #ffffff; /*]*/ /*// background-color: [[color_accent]]; color: [[color_accent_text]]; //*/ } }

/* FILE: main/custom-styles/__typography-editor.scss */
.mce-content-body { line-height: 1.62; }

.mce-content-body h1, .mce-content-body .h1 { line-height: 1.19; }

.mce-content-body h2, .mce-content-body .h2 { line-height: 1.19; }

.mce-content-body h3, .mce-content-body .h3 { line-height: 1.38; }

.mce-content-body h4, .mce-content-body .h4 { line-height: 1.44; }

.mce-content-body h5, .mce-content-body .h5 { line-height: 1.44; }

.mce-content-body h6, .mce-content-body .h6 { line-height: 1.44; }

.mce-content-body .display-1 { line-height: 1.3325; }

.mce-content-body .display-2 { line-height: 1.2375; }

.mce-content-body .display-3 { line-height: 1.20583; }

.mce-content-body .display-4 { line-height: 1.19; }

.mce-content-body, .mce-content-body .font-body { font-family: 'Fira Sans', 'Helvetica Neue', Arial, sans-serif; }

.mce-content-body .font-headings, .mce-content-body .font-headings-primary { font-family: 'Fira Sans', 'Helvetica Neue', Arial, sans-serif; }

.mce-content-body .font-logo, .mce-content-body .font-headings-secondary { font-family: 'Fira Sans', 'Helvetica Neue', Arial, sans-serif; }

.mce-content-body .font-inherit { font-family: inherit; }

/**if(typography_custom_fonts)

	.mce-content-body,
	.mce-content-body .font-body {
		font-family: [[typography_fonts_text]];
	}

	.mce-content-body .font-headings,
	.mce-content-body .font-headings-primary,
	h1, .h1,
	h2, .h2,
	h3, .h3,
	h4, .h4,
	h5, .h5,
	h6, .h6 {
		font-family: [[typography_fonts_headings]];
	}

	.mce-content-body .font-logo,
	.mce-content-body .font-headings-secondary,
	h1.display-1, h2.display-1, h3.display-1,
	.display-1.h1, .display-1.h2, .display-1.h3,
	h1.display-2, h2.display-2, h3.display-2,
	.display-2.h1, .display-2.h2, .display-2.h3,
	h1.display-3, h2.display-3, h3.display-3,
	.display-3.h1, .display-3.h2, .display-3.h3,
	h1.display-4, h2.display-4, h3.display-4,
	.display-4.h1, .display-4.h2, .display-4.h3 {
		font-family: [[typography_fonts_logo]];
	}

endif(typography_custom_fonts)**/
html { max-width: 1240px; padding: 20px; }

body { width: 100%; max-width: 39em; max-width: 70ch; font-size: 16px; }

body *, body *::after, body *::before { border-color: inherit; }

@media only screen and (-ms-high-contrast: none), (-ms-high-contrast: active) { body { max-width: 94ch; } }

body .mejs-container, body .wp-playlist { margin: 0 !important; }

.wpview-content { margin: 0 0 1.62em; }

.mce-item-table, .mce-item-table td, .mce-item-table th, .mce-item-table caption { border-width: 1px; border-style: solid; }

blockquote.alignleft { margin-left: 0; }

blockquote.alignright { margin-right: 0; }

img, embed, iframe, object, video { max-width: 100%; }

embed, iframe, object { max-height: 320px; }

embed, iframe, object, video { width: 100% !important; }
