/* FILE: main/custom-styles/__accent.scss */

//
// Accent colors (includes buttons)
//





// Helper selectors

	$accent_color_elements: (
		// Marker (have to use ID overrides for page builder, and default selector for editor stylesheet)
		'mark',
		'#page mark',
		'.highlight',
		'#page .highlight',
		// Pagination
		'.pagination .current',
		// Comments
		'.bypostauthor > .comment-body .comment-author::before',
		// Widgets
		'.widget_calendar tbody a',
		'.widget .tagcloud a:hover',
		'.widget .tagcloud a:focus',
		'.widget .tagcloud a:active',
	);



// Default accent elements

	a,
	.accent-color {
		@extend %accent_color;
	}

	#{$accent_color_elements} {
		@extend %accent_colors;
	}

	mark,
	.highlight {
		/*[*/
		box-shadow:  .38em 0 0 map_get( $colors, 'accent' ),
		            -.38em 0 0 map_get( $colors, 'accent' );
		/*]*/
		/*//
		box-shadow:  .38em 0 0 [[color_accent]],
		            -.38em 0 0 [[color_accent]];
		//*/
	}

	.pagination {

		a {

			@include media( ( map_get( $breakpoint, 'm' ), 'max-width' ) ) {
				/*[*/
				background-color: map_get( $colors, 'accent' );
				color: map_get( $colors, 'accent_text' );
				/*]*/
				/*//
				background-color: [[color_accent]];
				color: [[color_accent_text]];
				//*/
			}

		}

	}



// Buttons

	#{$button_elements},
	.main-navigation-container .button > a {
		@extend %button_default_colors;
	}
