/* FILE: main/custom-styles/_editor-style.scss */

//
// TinyMCE editor styles overrides and fixes.
//





// Imports

	@import '_extenders';

	@import '_base';

	@import '_accent';

	@import '_editor-typography';





// Overrides and fixes for editor

	// Core

		html {
			max-width: 1200px + 40; // Default, will get overridden
			padding: 20px;
		}

		body {
			width: 100%;
			max-width: 39em;
			max-width: 70ch;
			font-size: 16px; // Default, will get overridden

			*,
			*::after,
			*::before {
				border-color: inherit;
			}

			@media
				only screen
				and (-ms-high-contrast: none), (-ms-high-contrast: active)
			{
				//
				// IE calculates `ch` units a bit differently, a bit too narrow.
				//
				max-width: 94ch;
			}

		}



	// Content colors

		.mce-content-body {
			@extend %site_content_colors;
		}



	// Media player

		.mejs-container,
		.wp-playlist {

			body & {
				margin: 0 !important;
			}

		}

		.wpview-content {
			margin: 0 0 1.62em;
		}



	// Tables

		.mce-item-table,
		.mce-item-table td,
		.mce-item-table th,
		.mce-item-table caption {
			border-width: 1px;
			border-style: solid;
		}



	// Pullquotes

		blockquote.alignleft {
			margin-left: 0;
		}

		blockquote.alignright {
			margin-right: 0;
		}



	// Responsive media

		img,
		embed,
		iframe,
		object,
		video {
			max-width: 100%;
		}

		embed,
		iframe,
		object {
			max-height: 320px;
		}

		embed,
		iframe,
		object,
		video {
			width: 100% !important;
		}
