/* FILE: custom-styles-editor.scss */

//
// Theme custom stylesheet - Visual Editor
//
// Notes:
//   //* = Doesn't change via Customizer.
//
// @package    Modern
// @copyright  WebMan Design, Oliver Juhas
//
// @since    2.0.0
// @version  2.0.0
//





// Imports

	@import 'setup';

	@import 'starter/tools/functions';

	@import 'starter/setup/variables';

	@import 'starter/tools/mixins';

	@import 'main/custom-styles/editor-style';
