/* FILE: editor-style.scss */

//
// Visual Editor core stylesheet
//
// @see  Modern_Assets::editor_stylesheets()
//
// @package    Modern
// @copyright  WebMan Design, Oliver Juhas
//
// @since    2.0.0
// @version  2.2.0
//
